:root {
  --white: #FFFFFE;
  --grayBlue: #B8C1EC;
  --pink: #D4939D;
  --blueKing: #232946;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--blueKing);
  margin: 0;
  color: var(--white);
}

.header {
  position: sticky;
  inset-block-start: 0;
  margin-block-start: 100px;
}

.wrapper {
  max-inline-size: 636px;
  margin-inline-start: 530px;
}

.header-content {
  position: relative;
}

.header header {
  position: absolute;
  inline-size: 222px;
  inset-inline-start: -330px;
}

.header header p {
  margin-block-start: 0;
  margin-block-end: 24px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.header header details summary {
  margin-block: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.header header details ol {
  margin-block-start: 16px;
  margin-block-end: 24px;
  padding-inline-start: 30px;
}

.header header details li {
  margin-block: 16px;
  color: var(--grayBlue);
  font-size: 14px;
  line-height: 24px;
}

.header header details a {
  text-decoration: none;
  color: var(--grayBlue);
}

h1 {
  margin: 0;
  font-size: 64px;
  line-height: 78px;
  font-weight: 700;
}

h2 {
  margin-block: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  margin-block: 16px;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

p {
  margin-block:16px;
  font-size: 17px;
  line-height: 24px;
  color: var(--grayBlue);
}

li {
  color: var(--grayBlue);
  font-size: 17px;
  line-height: 24px;
}

hr {
margin-block-start: 58px;
margin-block-end: 40px;
border: 1px solid rgba(97, 97, 97, 0.2);
}

.setup img {
  display: block;
  margin-block-start: 40px;
}

blockquote {
  margin: 0;
  margin-block-start: 58px;
  margin-block-end: 31px;
  padding: 24px;
  background: var(--pink);
  border-radius: 8px;
}

blockquote p {
  margin: 0;
  color: var(--blueKing);
  font-size: 24px;
  line-height: 32px;
}

blockquote p span::before {
  content: "- ";
}

blockquote p:last-of-type {
  margin-block-start: 16px;
}

.conceptos h3 {
  margin-block-start: 40px;
}

pre {
  /* border: 1px solid red; */
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFE;
}

.modelo {
  margin-block-start: 80px;
}

.modelo h2 {
  font-size: 32px;
  font-weight: 600;
}

.modelo h3 {
  margin-block-start: 40px;
}

.regular {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.semi {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

  .modelo ol {
  margin: 0;
  padding-inline-start: 20px;
}

  .modelo ul {
    margin-inline-start: 20px;
    padding-inline-start: 0;
  }

  .modelo ul li {
    margin-block-end: 16px;
    list-style: none;
    position: relative;
  }

  .modelo ul li::before {
    content: "";
    display: inline-block ;
    inline-size: 8px;
    block-size: 8px;
    border-radius: 50%;
    background: var(--white);
    margin-inline-end: 16px;
    position: absolute;
    inset-block-start: 10px;
    inset-inline-start: -20px;
  }

  .slider {
    border: 1px solid red;
  }

  .slider-container {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .slider-slide {
    display: inline-block;
    inline-size: 100%;
    border: 1px solid blue;
  }

  .bullet-list {
    margin-block-start: 16px;
    text-align: center;
    font-size: 0;
  }

  .bullet-list a {
    display: inline-block;
    inline-size: 16px;
    block-size: 16px;
    border-radius: 50%;
    background:  rgba(66, 66, 66, 0.2);
    margin-inline: 4px;
  }

  .bullet-list a:hover {
    background: var(--white);
  }

  .contact-me {
    margin-block: 40px;
    color: var(--white);
  }

  .contact-me a {
    color: var(--pink);
  }

  .form input {
    display: block;
    inline-size: 100%;
    box-sizing: border-box;
    margin-block-end: 24px;
    padding-block: 12px;
    padding-inline: 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    background: var(--blueKing);
    border: 1px solid var(--white);
    color: var(--white);
  }

  input[type="submit"] {
    background: var(--pink);
    border: none;
    color: var(--blueKing);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .form p {
    font-size: 24px;
    line-height: 29px;
    color: var(--white);
  }

